.App {
  text-align: center;
}

.user {
  margin: 0.2em 2em;
}

button {
  font-size: 1.2em;
  margin: 1em 0.3em;
  padding: 0.3em 0.5em;
  border-radius: 5px;
background-color: black;
color: white;
}

button:hover {
  background-color: blue;
}

button:active {
  background-color: blueviolet;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}